<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin-sheet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,65},{20,18}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{20,18}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>coin-sheet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{19,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{19,20}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>coin-sheet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,44},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,19}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>coin-sheet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{19,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>coin-sheet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,23},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>coin-sheet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>coin-sheet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>coin-sheet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,44},{15,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin-sheet.pvr.ccz</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:997f03c15c65e1b4daaaea29ed52a72d:1/1$</string>
            <key>textureFileName</key>
            <string>coin-sheet.pvr.ccz</string>
        </dict>
    </dict>
</plist>
